@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
      font-family: "Poppins", sans-serif;
      background-color: black;
      overflow-x: hidden;
    }


    
    nav {
      display: flex;
      font-size: 18px;
      justify-content: space-between;
      align-items: center;
      padding: 25px 45px;
      /* background-color: #80808030; */
      /* background: linear-gradient(90deg, #6a11cb, #2575fc); */
      color: white;
      /* position: sticky; */
      top: 0;
      z-index: 1000;
      /* box-shadow: -4px 2px 20px; */
      position: sticky;
      top: 0px;
      background-color: rgba(0, 0, 0, 0.681);
      backdrop-filter: blur(10px);
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .logo span{
      color: #FACC15;
    }

    .nav-links {
      display: flex;
      gap: 25px;
    }

    .nav-links a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      transition: color 0.3s, transform 0.2s;
    }

    .nav-links a:hover {
      color: #EAB308;
      transform: scale(1.05);
      text-shadow: 0 0 10px #FACC15
    }

    .auth-btns {
      display: none;
      gap: 15px;
      align-items: center;
    }

    .auth-btns a {
      padding: 8px 16px;
      border-radius: 0.5rem;
      text-decoration: none;
      font-weight: bold;
      background: #FACC15;
      color: black;
      transition: background 0.3s, transform 0.2s;
      cursor: pointer;
    }

    .logout{
      padding: 8px 16px;
      border-radius: 20px;
      text-decoration: none;
      font-weight: bold;
       background: #FACC15;
      color: black;
      transition: background 0.3s, transform 0.2s;
      cursor: pointer;
    }

    .logout:hover{
      background: #EAB308;
      color: black;
      transform: translateY(-2px);
      box-shadow: 0 0 10px #FACC15
    }

    .auth-btns a:hover {
      transform: translateY(-2px);
      background: #EAB308;
      box-shadow: 0 0 10px #FACC15
    }

    .svgandname{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .account{
      gap: 30px;
      align-items: center;
      display: none;
    }


    .showauth{
      display: flex;
    }

    .container{
      width: 80%;
      border-radius: 10px;
      padding: 20px;
      margin : 20px auto;
      color: white;
      /* border: 1px solid white; */
      background: #0f0f0f6e;
    }

    .container::before {
  content: "";
  position: absolute;
  inset: -2px; /* border thickness */
  border-radius: inherit;
  background: linear-gradient(
    270deg,
    #ff0080,
    #7928ca,
    #00f0ff,
    #00ff6a,
    #ffb700,
    #ff0080
  );
  background-size: 400% 400%;
  animation: gradientBorder 6s linear infinite;
  z-index: -1;
}

@keyframes gradientBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

    .title div input{
      width: 100%;
      padding: 10px;
      margin: 10px 0px;
      font-size: 20px;
      border-radius: 10px;
      border: none;
    }

    textarea{
      width: 100%;
      padding: 10px;
      margin: 10px 0px;
      font-size: 20px;
      border-radius: 10px;
      border: none;
    }

    .btn{
      text-align: center;
    }

    .btn button{
      width: 30%;
      padding: 10px;
      border-radius: 10px;
      color: white;
      background-color: rgb(0, 128, 0);
      font-size: 20px;
      border: none;
      cursor: pointer;
    }



